<h4>Pallets</h4>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Actions</th>
  </tr>
  {{#each filteredPallets as |pallet|}}
    {{pallet-table-row pallet=pallet applicationController=applicationController}}
  {{/each}}
</table>

{{#link-to 'pallets.new' }}New{{/link-to}}

{{outlet}}
